*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  min-height: 130vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
}

h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffc017;
  border-bottom: 1px solid #242424;
  z-index: 5;
}

.container {
  width: 100%;
  max-width: 1192px;
  margin: 0 64px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  height: 75px;
}

.logo {
  height: 25px;
  position: relative;
  top: 1px;
}

.logo-svg {
  fill: rgba(0, 0, 0, 1);
  height: 25px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 14px;
  height: 25px;
}

.spacer {
  height: 75px;
}

main {
  display: flex;
  justify-content: center;
  background-color: #ffc017;
  border-bottom: 1px solid #242424;
  height: 456px;
}

.main-heading {
  width: 700px;
  height: 100%;
  padding-top: 75px;
  padding-bottom: 92px;
}

.main-heading .title {
  margin-bottom: 30px;
}

.title {
  font-size: 106px;
}

.main-subheading {
  width: 65%;
  font-size: 24px;
  color: #242424;
  line-height: 24px;
  margin-bottom: 50px;
}

.trending {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 16px;
}

.trending__card-title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.trending__card-title svg {
  margin-right: 10px;
}

.trending__card-title h2 {
  font-size: 16px;
  font-weight: 600;
  font-family: Helvetica, Arial, sans-serif;
}

.trending__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
}

.trending__card {
  max-width: 33.33%;
  display: flex;
  flex-basis: 33.33%;
  margin-bottom: 24px;
}

.trending__card-number {
  color: #f2f2f2;
  font-size: 32px;
  font-weight: 600;
  margin-right: 16px;
  width: 40px;
  position: relative;
  top: -10px;
}

.trending__body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.trending__author,
.author,
.article__info,
.trending__info {
  font-size: 13px;
  color: #6b6b6b;
}

.trending__author {
  display: flex;
  align-items: center;
  gap: 8px;
}

.trending__author-name,
.article__author-name {
  font-weight: 600;
  color: #242424;
}

.trending__image-icon,
.article__image-icon {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.trending__image-icon-profile,
.article__image-icon-profile {
  border-radius: 50%;
}

.trending__description {
  font-size: 16px;
  font-weight: 700;
}

.trending__info {
  display: flex;
  align-items: center;
}

.trending__span-dot,
.article__span-dot {
  padding: 0 5px;
  font-size: 18px;
  line-height: 20px;
}

.articles {
  padding-top: 3.5rem;
  border-top: 1px solid #f2f2f2;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr) repeat(4, minmax(48px, 1fr));
  grid-template-rows: 1fr;
}

.grid section {
  grid-column: 1 / span 7;
  grid-row-start: 1;
  padding-top: 12px;
}

.grid aside {
  grid-column: 9 / span 4;
  grid-row-start: 1;
}

.article__section article {
  margin-bottom: 48px;
}

.article__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article__body {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.article__author-container {
  padding-bottom: 8px;
}

.article__title {
  font-size: 19px;
  font-weight: bold;
}

.article__author {
  display: flex;
  align-items: center;
  gap: 8px;
}

.article__image {
  position: relative;
  top: 2px;
}

.article__description {
  padding-top: 4px;
  color: #6b6b6b;
  font-size: 15px;
}

.article__info {
  padding-top: 8px;
  display: flex;
  align-items: center;
}

.article__bookmark {
  margin-left: auto;
  margin-right: 8px;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.topics__title {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-bottom: 10px;
}

.topic__see-more {
  padding-bottom: 32px;
  border-bottom: 1px solid #f2f2f2;
}

.topic__see-more-text {
  margin-top: 14px;
  font-size: 14px;
  color: #1a8917;
}

.info {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 0;
  gap: 26px;
  row-gap: 15px;
  color: #6b6b6b;
  font-size: 14px;
}

.btn {
  border: none;
  border-radius: 99em;
  font-size: 14px;
  padding: 11px 16px;
}

.btn-black {
  color: #ffffff;
  background-color: rgba(25, 25, 25, 1);
}

.btn-cta {
  width: 213px;
  font-size: 20px;
  padding: 10px 21px;
}

.btn-tag {
  color: #6b6b6b;
  background-color: #f2f2f2;
  font-size: 13px;
  padding: 4px 10px;
}

.btn-topic {
  margin-bottom: 10px;
  color: #242424;
}
